# Xcode
.DS_Store
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Sensitive Configuration
Config.plist
*.env
.env*

# Other
*.hmap
*.ipa
*.dSYM.zip
*.dSYM 
